<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
<title>ISP-Perf - SpeedTest</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static',filename='script/speedtest.js') }}"> </script>
<script type="text/javascript">
//INITIALIZE SPEEDTEST
var s=new Speedtest(); //create speedtest object
s.onupdate=function(data){ //callback to update data in UI
    I("ip").textContent=data.clientIp;
    I("dlText").textContent=(data.testState==1&&data.dlStatus==0)?"...":data.dlStatus;
    I("ulText").textContent=(data.testState==3&&data.ulStatus==0)?"...":data.ulStatus;
    I("pingText").textContent=data.pingStatus;
    I("jitText").textContent=data.jitterStatus;
}
s.onend=function(aborted){ //callback for test ended/aborted
    I("startStopBtn").className=""; //show start button again
    if(aborted){ //if the test was aborted, clear the UI and prepare for new test
		initUI();
    }
}

function startStop(){ //start/stop button pressed
	if(s.getState()==3){
		//speedtest is running, abort
		s.abort();
	}else{
		//test is not running, begin
		s.start();
		I("startStopBtn").className="running";
	}
}

//function to (re)initialize UI
function initUI(){
	I("dlText").textContent="";
	I("ulText").textContent="";
	I("pingText").textContent="";
	I("jitText").textContent="";
	I("ip").textContent="";
}

function I(id){return document.getElementById(id);}
</script>

<style type="text/css">

</style>
</head>
<body>
<h1>ISP-Perf - SpeedTest</h1>
<form method='post' id='data_form'>
	<input type="hidden" id="f_latitude" name="latitude" value="">
	<input type="hidden" id="f_longitude" name="longitude" value="">
	<input type="hidden" id="f_download" name="download" value="">
	<input type="hidden" id="f_upload" name="upload" value="">
	<input type="hidden" id="f_latency" name="latency" value="">
	<input type="hidden" id="f_jitter" name="jitter" value="">
	<input type="hidden" id="f_isp" name="isp" value="">
  </form>
  
<div id="startStopBtn" onclick="startStop()"></div>
<div id="test">
	<div class="testGroup">
		<div class="testArea">
			<div class="testName">Download</div>
			<div id="dlText" class="meterText"></div>
			<div class="unit">Mbps</div>
		</div>
		<div class="testArea">
			<div class="testName">Upload</div>
			<div id="ulText" class="meterText"></div>
			<div class="unit">Mbps</div>
		</div>
	</div>
	<div class="testGroup">
		<div class="testArea">
			<div class="testName">Ping</div>
			<div id="pingText" class="meterText"></div>
			<div class="unit">ms</div>
		</div>
		<div class="testArea">
			<div class="testName">Jitter</div>
			<div id="jitText" class="meterText"></div>
			<div class="unit">ms</div>
		</div>
	</div>
	<div id="ipArea">
		IP Address: <span id="ip"></span>
	</div>
	<div>
		<div id="saveResults" ></div>
	</div>
</div>
<script type="text/javascript">
    initUI();
</script>
</body>
</html>
